<li><a href="#" class="btn btn-inverse">Back</a></li>
<li></li><!-- Our CSS specifies that the last button in navbar floats right. This is a placeholder such that the "Back" button stays float left -->