.clearfix
  .pull-left
    - if show_delete # show delete button for editing but not adding new or replying
      %a.delete-btn.btn.btn-danger{href: tweet_path(tweet, origin: params[:origin], q: params[:q], page: params[:page]), 'data-pjax' => 'true', 'data-method' => 'delete', rel: 'nofollow', 'data-confirm' => 'Are you sure you want to delete?'} Delete
  .pull-right
    - if params[:origin] == 'show' # when editing or replying coming from :show
      %a.btn{href: tweet_path(tweet), 'data-pjax' => 'true'} Cancel
    - else # when editng, replying coming from :show or adding new
      %button.btn{type: 'button', 'onclick' => 'history.back();'} Cancel
    %button.btn.btn-primary{type: 'submit', 'data-disable-with' => 'Saving...'} Save tweet
