#gallery
  #slider.well
    %ul
      - @tweets.each do |tweet|
        %li{style: "display: #{tweet.id.to_s == params[:id] ? 'block' : 'none'};", id: tweet.id}
          .vertical-align-container
            .vertical-align
              = render partial: 'tweet_and_hash_tag', locals: {tweet: tweet}
  %nav
    %ul#position
      - @tweets.each do |tweet|
        - if tweet.id.to_s == params[:id]
          %li.active &bull;
        - else
          %li &bull;
%input{id: 'start-index', value: "#{@start_index}", type: 'hidden'}
.form-actions
  = render partial: 'back_reply_edit_buttons', locals: {tweet: @tweets[@start_index]}
- if !@pjax
  - content_for :page_specific_javascript do
    :javascript
      $(function() {
        gallerySetup();
      });