<form id="edit-article" name="article">
  <input type="text" name="title" id="title" class="input-full"  value="<%= title %>">
  <input type="hidden" name="body" id="body" class="input-full">
  <div contenteditable="true"><%= body %></div>
</form>
<div class="form-actions">
  <div class="clearfix">
    <button id="delete" class="delete-btn btn btn-danger">Delete</button>
  </div>
</div>