<form id="edit-article" name="article">
  <input type="text" name="title" id="title" class="input-full"  value="<%= title %>">
  <input type="hidden" name="body" id="body" class="input-full">
  <div contenteditable="true"><%= body %></div>
</form>