<form id="new-article" name="article">
  <input type="text" name="title" id="title" class="input-full" placeholder="Paste title here">
  <input type="text" name="body" id="body" class="input-full">
  <div contenteditable="true"></div>
</form>
