<form id="new-article" name="article">
  <input type="text" name="title" id="title" class="input-full" placeholder="Paste title here">
  <input type="hidden" name="body" id="body" class="input-full">
  <div contenteditable="true" data-placeholder="true"><span class="placeholder">Paste body here</span></div>
</form>
