/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*--------*/
/* Layout */
/*--------*/
body {
  max-width: 1024px;
}

/*-------*/
/* Login */
/*-------*/
#login-container {
  margin: 30px auto 100px;
  max-width: 380px;
  width: 80%;
}
#login-container h1 {
  font-size: 3em;
}
#login-container input {
  height: 40px;
}
#login-container button {
  margin-bottom: 10px;
}

/*------------*/
/* Navigation */
/*------------*/
#custom-nav {
  margin: 0;
}
#custom-nav li {
  display: inline-block;
}
#custom-nav li:last-child {
  float: right;
}
#custom-nav a {
  font-weight: bold;
  margin: 3px 0 4px;
}

/*-------*/
/* Index */
/*-------*/
#articles-table {
  padding-left: 8px;
}
#articles-table #search-field {
  font-weight: bold;
  width: 208px;
}
#articles-table .two-column {
  border-right: 8px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}
#articles-table a.well, #articles-table a.well:hover {
  color: #333;
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

/*--------------*/
/* New article  */
/* Edit article */
/*--------------*/
form[name=article] {
  padding: 0 8px;
}
form[name=article] input, form[name=article] [contenteditable='true'] {
  color: #222;
  margin: 5px 0 0;
}
form[name=article] [contenteditable='true'] {
  border: 1px solid #75B9F0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 8px 0px #75B9F0;
  -moz-box-shadow: 0px 0px 8px 0px #75B9F0;
  box-shadow: 0px 0px 8px 0px #75B9F0;
  color: #222;
  min-height: 120px;
  outline: 0;
  padding: 6px 20px 6px 10px;
}
form[name=article] [contenteditable='true']:not(:focus) {
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0px 0px 5px 0px #ddd;
  -moz-box-shadow: inset 0px 0px 5px 0px #ddd;
  box-shadow: inset 0px 0px 5px 0px #ddd;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { /* match contenteditable shadow with iOS input shadow */
  form[name=article] [contenteditable='true'] {
    -webkit-box-shadow: inset 0px 2px 2px 0px #ddd;
    -moz-box-shadow: inset 0px 2px 2px 0px #ddd;
    box-shadow: inset 0px 2px 2px 0px #ddd;
  }
  form[name=article] [contenteditable='true']:not(:focus) {
    -webkit-box-shadow: inset 0px 2px 2px 0px #ddd;
    -moz-box-shadow: inset 0px 2px 2px 0px #ddd;
    box-shadow: inset 0px 2px 2px 0px #ddd;
  }
}
form[name=article] .placeholder {
  color: #999;
  position: absolute;
}
#delete-btn {
  font-weight: bold;
  width: 100%;
}

/*--------------*/
/* Show article */
/*--------------*/
#article-show {
  padding: 0 8px;
}
#article-show h1, #article-show .seperator, #article-show article {
  margin: 0 6px;
}
#article-show h1 {
  color: #222;
  font-size: 21px;
  line-height: 23px;
  margin-top: 12px;
}
#article-show .seperator {
  border-bottom: 2px solid #bbb;
  margin-top: 14px;
}
#article-show article {
  margin-top: 11px;
}
#article-show article, #article-show article * {
  color: #222;
  font-family: georgia, times, serif;
  font-size: 17px;
  line-height: 25px;
}
#article-show article pre, #article-show article pre * {
  color: #555;
  font-size: 15px;
}
#article-show article code {
  color: #195F91;
  font-family: Courier, 'Courier New';
}
#article-show article h1, #article-show article h2, #article-show article h3, #article-show article h4, #article-show article h5, #article-show article h6 {
  line-height: 24px;
  margin-bottom: 18px;
  padding-top: 4px;
}
#article-show article a {
  color: #B20022;
  word-break: break-all;
}
#article-show article code {
  word-break: break-all;
}
#article-show article pre {
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
}