/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*--------*/
/* Layout */
/*--------*/
@media only screen and (min-width: 768px) {

  #content {
    float: left;
    max-width: 384px;
  }
  #more_content {
    margin-left: 389px;
  }

}

/*-------*/
/* Login */
/*-------*/
#login-container {
  margin: 30px auto 100px;
  width: 80%;
}
#login-container h1 {
  font-size: 3em;
}
#login-container input {
  height: 40px;
}
#login-container button {
  margin-bottom: 10px;
}

/*------------*/
/* Navigation */
/*------------*/
#custom-nav {
  margin: 0;
}
#custom-nav li {
  display: inline-block;
}
#custom-nav li:last-child {
  float: right;
}
#custom-nav a {
  font-weight: bold;
  margin: 3px 0 4px;
}

/*-------*/
/* Index */
/*-------*/
#search-field {
  font-weight: bold;
  width: 208px;
}
article.well {
  cursor: pointer;
  font-weight: bold;
}
#to-paginate {
  display: none;
}

/*------------*/
/* Pagination */
/*------------*/
#pagination-container {
  text-align: center;
}
#pagination {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .05);
  display: inline-block;
}
#pagination :first-child {
  border-left-width: 1px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
}
#pagination :last-child {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}
#pagination a, #pagination span, #pagination em {
  border: 1px solid #ddd;
  border-left-width: 0;
  float: left;
  height: 32px;
  line-height: 31px;
  width: 32px;
}
#pagination :first-child, #pagination :last-child, #pagination em {
  padding: 0 1px;
}
#pagination a:hover, #pagination em {
  background-color: whiteSmoke;
  text-decoration: none;
}

/*-------------*/
/* New article */
/* Edit article */
/*--------------*/
form[name=article] input, [contenteditable='true'] {
  color: #222;
  margin: 5px 0 0;
}
.placeholder {
  color: #999;
  position: absolute;
}
#delete-btn {
  font-weight: bold;
  width: 100%;
}
[contenteditable='true'] {
  border: 1px solid #75B9F0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 8px 0px #75B9F0;
  -moz-box-shadow: 0px 0px 8px 0px #75B9F0;
  box-shadow: 0px 0px 8px 0px #75B9F0;
  color: #222;
  min-height: 120px;
  outline: 0;
  padding: 6px 20px 6px 10px;
}
[contenteditable='true']:not(:focus) {
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0px 0px 5px 0px #ddd;
  -moz-box-shadow: inset 0px 0px 5px 0px #ddd;
  box-shadow: inset 0px 0px 5px 0px #ddd;
}
@media handheld, only screen and (max-width: 500px) {
  [contenteditable='true'] {
    -webkit-box-shadow: inset 0px 2px 2px 0px #ccc;
    -moz-box-shadow: inset 0px 2px 2px 0px #ccc;
    box-shadow: inset 0px 2px 2px 0px #ccc;
  }
  [contenteditable='true']:not(:focus) {
    -webkit-box-shadow: inset 0px 2px 2px 0px #ccc;
    -moz-box-shadow: inset 0px 2px 2px 0px #ccc;
    box-shadow: inset 0px 2px 2px 0px #ccc;
  }
}

/*--------------*/
/* Show article */
/*--------------*/
#article-show h1, #article-show .seperator, #article-show article {
  margin: 0 6px;
}
#article-show h1 {
  color: #222;
  font-size: 21px;
  line-height: 23px;
  margin-top: 12px;
}
#article-show .seperator {
  border-bottom: 2px solid #bbb;
  margin-top: 14px;
}
#article-show article {
  margin-top: 11px;
}
#article-show article, #article-show article * {
  color: #222;
  font-family: georgia, times, serif;
  font-size: 17px;
  line-height: 25px;
}
#article-show article pre, #article-show article pre * {
  color: #555;
  font-size: 15px;
}
#article-show article code {
  color: #195F91;
  font-family: Courier, 'Courier New';
}
#article-show article h1, #article-show article h2, #article-show article h3, #article-show article h4, #article-show article h5, #article-show article h6 {
  line-height: 24px;
  margin-bottom: 18px;
  padding-top: 4px;
}
#article-show article a {
  color: #B20022;
  word-break: break-all;
}
#article-show article code {
  word-break: break-all;
}
#article-show article pre {
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
}