- content_for :navbar do
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %ul#custom-nav
          %li
            %a#home-button.btn.btn-inverse{href: root_path} Home
          %li
            %a.btn.btn-inverse{href: new_article_path} Add new
          %li
            %a.btn.btn-inverse{href: logout_path, rel: 'nofollow'} Logout

= render template: 'layouts/application'